pytest==7.4.0
numpy==1.23.5
pandas==1.3.5
scikit-image
opencv-python==4.7.0.72
PyYAML
colorama
tqdm
requests
matplotlib
psutil
gunicorn
flask
scikit-learn
google-cloud-aiplatform
gunicorn
google-generativeai
transformers
pillow
torch
matplotlib
numpy==1.26.4
pyarrow
